header {
  padding: 2%;
  top: 0;
  position: sticky;
  background: var(--color-primary);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  background: transparent;
  color: var(--color-text-main);
  max-height: 10%;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-between;
}

nav, nav a {
  background: var(--color-primary);
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-text-main);
}
